{% include "header.html" %} 
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>About Us</h1>
        <h2>Our School</h2>
        <p class="content">
          Riverside Christian Academy was established in April of 2005 in response
          to the growing movement of parents desiring to teach their children at
          home.
          <br>
          <br>
          Our mission is to provide a way in which families in our church and
          community can educated their children in compliance with state guidelines,
          in a way that is above reproach, and assisting parents in providing a well
          rounded education for their children.
          <br>
          <br>
          Our mission is to provide a way in which families in our church and
          community can educate their children in compliance with state guidelines,
          in a way that is above reproach, and assisting parents in providing a well
          rounded education for their children.          
        </p>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Our Mission Statement</h2>
      <ul class="content">
        <li>To meet the needs of Christian Parents who have prayerfully chosen
          to educate their children at home and to provide ways in which these
          families have access to, and opportunity for a well-rounded
          educational experience, all from a Christian perspective.
        </li>
        <li>To provide a way in which such families may begin or continue home
          education within the limits of the law of the State of Alabama.
        </li>
        <li>To provide an accountability system through which such families may
          begin or continue home education in such a way that is above
          reproach.
        </li>
        <li>To provide a support system for home educating families so that they
          seek to educate their children.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Requirements</h2>
      <ul class="content">
        <li>Teaching parent must be a Christian</li>
        <li>Family must be in a regular attendance in a local fellowship of
          believers</li>
        <li>Statement of Faith must be read and signed</li>
        <li>Teacher/Parent must attend ALL mandatory meetings</li>
        <li>Attendance records must be kept and turned in at the end of the
          school year</li>
        <li>Curriculum Plan Form must be filed on each student</li>
        <li>Grades must be filed on Mandatory grade filing dates, mid term, end
          of the year</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Benefits</h2>
      <ul class="content">
        <li>We file all required forms for you.</li>
        <li>We keep official transcripts.</li>
        <li>We offer CAT testing yearly.</li>
        <li>We have student Expo each Spring.</li>
        <li>We have a Spring Dance.</li>
        <li>We have High School Graduation ceremony.</li>
        <li>We offer on campus classes for High School for an additional Fee.
          (Math, Science, History English, etc)</li>
        <li>We have Student Awards Ceremony for on Campus students.</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Tuition and Fees</h2>
      <ul class="content">
        <li>Application Packet - $15.00</li>
        <li>Registration Fee - $50.00</li>
        <li>Tuition - $250.00 (2 payments @ 130.00 or 4 payments @ 65.00)</li>
        <li>On Campus Reg. Class fee - $25.00</li>
        <li>Re-enrollment fee - $20.00</li>
        <li>Returned check fee - $25.00</li>
        <li>Late fee - $10.00 (tuition past due 10 days)</li>
        <li>Inconvenience fee - $25.00 (failure to attend Mandatory meetings)</li>
      </ul>
    </div>
  </div>
</div>

{% include "footer.html" %} 