{% include "header.html" %} 

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Blog</h1>
      {% for post in posts %}
      <div class="post-preview">
        <a href="{{ url_for('get_blog_post', post_id=post.id) }}" style="color: black; text-decoration: none;">
          <h2 class="post-title">
            {{post.title}}
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a href="#" style="color: black; text-decoration: none;">{{post.author.name}}</a>
          on {{post.date}}
          {% if current_user.is_authenticated: %}
            {% if current_user.id == 1 %}
          <a style="color: red; text-decoration: none;" href="{{url_for('delete_blog_post', post_id=post.id) }}">✘</a>
            {% endif %}
          {% endif %}
        </p>
      </div>
      <hr>
      {% endfor %}
      {% if current_user.is_authenticated: %}
        {% if current_user.id == 1 %}
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{url_for('create_blog_post')}}">Create New Post</a>
      </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>



{% include "footer.html" %} 