{% include "header.html" %} 
{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
    <h1>Contact Us</h1>
    <div class="address">
        <h4>Riverside Christian Academy</h4>
        <h7>(a ministry of )</h7>
        <h6><b>Riverside Baptist Church</b></h6>
        <h7>1919 Hwy. 52 West</h7>
        <h6>Helena, AL 35080</h6>
        <h7>Phone: 205-937-0440</h7>
    </div>
    <hr>
    <div>
        <h4><b>Terri Gossett</b></h4>
        <h4>205-937-0440</h4>
        <h4>terrig.rca@gmail.com</h4>
    </div>
    <hr>
    <div class="contact-title">
        <h2>Send Us a Message</h2>
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %} 
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="col-lg-8 col-md-10 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
</div>
{% include "footer.html" %} 