{% include "header.html" %}

<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>Daily Devotional</h1>
        {% for post in devotional_posts: %}
            {% if post.launch_date == todays_date: %}
        <img id="devotional-img" src="../static/images/cross-img.jpg" class="img-fluid" alt="cross-img">
        <h3>{{ devotional_post.title }}</h3>
        <p>{{ devotional_post.text| safe }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
<hr>

<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>School News</h1>
        <ul class="anouncements">
            {% for post in news %}
            <li>{{ post.news_text| safe }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr>
<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>A word from Terry</h1>
        <img id="terry-img" src="../static/images/terry.jpg" class="img-fluid" alt="terry-img">
        <p>{{ word.body| safe }}</p>
    </div>
</div>
<hr>

{% include "footer.html" %} 
