{% include "header.html" %}

<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>Daily Devotional</h1>
        {% for post in devotional_posts: %}
            {% if post.date == todays_date: %}
        <img id="devotional-img" src="../static/images/cross-img.jpg" class="img-fluid" alt="cross-img">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text| safe }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
<hr>

<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>School News</h1>
        <ul class="anouncements">
            {% for post in news %}
            <li>{{ post.news_text| safe }}</li>
                {% if current_user.is_authenticated: %}
                    {% if current_user.id == 1 %}
                    <a style="text-decoration: none;" href="{{url_for('edit_news_post', news_id=post.id) }}">✎</a><a style="color: red; text-decoration: none;" href="{{url_for('delete_news_post', news_id=post.id) }}">✘</a>
                    {% endif %}
                 {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<hr>
<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>A word from Terry</h1>
        <img id="terry-img" src="../static/images/terry.jpg" class="img-fluid" alt="terry-img">
        <p>{{ word.body| safe }}</p>
        {% if current_user.is_authenticated: %}
            {% if current_user.id == 1 %}
                <a style="text-decoration: none;" href="{{url_for('edit_word_post', word_id=word.id) }}">✎</a><a style="color: red; text-decoration: none;" href="{{url_for('delete_word_post', word_id=word.id) }}">✘</a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% include "footer.html" %} 
