{% include "header.html" %}

<!-- <div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>Daily Devotional</h1>
        {% for post in devotional_posts: %}
            {% if post.date == todays_date: %}
                {% if post.img_upload %}
                    <img id="devotional-img" src="../static/uploads/{{post.img_upload}}" class="img-fluid" alt="devotional-img">
                {% endif %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.text| safe }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
</div> -->


<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>School News</h1>
        <ul class="anouncements">
            {% for post in news %}
            <li>{{ post.news_text| safe }}</li>
                {% if current_user.is_authenticated: %}
                    {% if current_user.id == 1 %}
                    <a href="{{ url_for('edit_news_post', news_id=post.id) }}">✎</a><a style="color: red;" href="{{ url_for('delete_news_post', news_id=post.id) }}">✘</a>
                    {% endif %}
                 {% endif %}
            {% endfor %}
        </ul>
    </div>
    <hr>
</div>


<div class="container col-lg-8 col-md-10 mx-auto">
    <div class="section">
        <h1>A Word From Terri</h1>
        <img id="terry-img" src="../static/images/terri.jpg" class="img-fluid" alt="terri-img">
        {% for words in word %}
            <p>{{ words.body| safe }}</p>
            {% if current_user.is_authenticated: %}
                {% if current_user.id == 1 %}
                    <a href="{{ url_for('edit_word_post', word_id=words.id) }}">✎</a><a style="color: red;" href="{{ url_for('delete_word_post', word_id=words.id) }}">✘</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% include "footer.html" %} 
